node_modules/

io.github.stream-decked.sdPlugin/bin/
io.github.stream-decked.sdPlugin/imgs/
io.github.stream-decked.sdPlugin/logs/

*.tsbuildinfo

npm-debug.log*

.idea/
.vscode/

.DS_Store
Thumbs.db

scripts/